<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_invoice_nbr}
			<a href="#" id="addSearchControl_invoice_nbr" class="addSearchControl" {$addSearchControl_invoice_nbr_attrs}>Invoice Nbr</a><br>
		{END addSearch_invoice_nbr}
		{BEGIN addSearch_trx_id}
			<a href="#" id="addSearchControl_trx_id" class="addSearchControl" {$addSearchControl_trx_id_attrs}>Trx Id</a><br>
		{END addSearch_trx_id}
		{BEGIN addSearch_iso_code}
			<a href="#" id="addSearchControl_iso_code" class="addSearchControl" {$addSearchControl_iso_code_attrs}>Iso Code</a><br>
		{END addSearch_iso_code}
		{BEGIN addSearch_qty_of_20}
			<a href="#" id="addSearchControl_qty_of_20" class="addSearchControl" {$addSearchControl_qty_of_20_attrs}>Qty Of 20</a><br>
		{END addSearch_qty_of_20}
		{BEGIN addSearch_qty_of_40}
			<a href="#" id="addSearchControl_qty_of_40" class="addSearchControl" {$addSearchControl_qty_of_40_attrs}>Qty Of 40</a><br>
		{END addSearch_qty_of_40}
		{BEGIN addSearch_total}
			<a href="#" id="addSearchControl_total" class="addSearchControl" {$addSearchControl_total_attrs}>Total</a><br>
		{END addSearch_total}
		{BEGIN addSearch_created}
			<a href="#" id="addSearchControl_created" class="addSearchControl" {$addSearchControl_created_attrs}>Created</a><br>
		{END addSearch_created}
		{BEGIN addSearch_creator}
			<a href="#" id="addSearchControl_creator" class="addSearchControl" {$addSearchControl_creator_attrs}>Creator</a><br>
		{END addSearch_creator}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</td>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
