{BEGIN mainmenu_block}
<table class="runner-hmenu" cellpadding="0">
	<tr>
{BEGIN simpleTypeMenu}
	{BEGIN item1_menulink}
	<td id="item1" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<td id="item2" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item2_menulink}
	{BEGIN item3_menulink}
	<td id="item3" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item3_menulink}
{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}
	
{END adminAreaTypeMenu}
	</tr>
</table>	
{END mainmenu_block}
